body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../resources/images/night-sky2.jpg);
    background-size: cover;

}

img {
    max-height: 200px;
    max-width: auto;
}

h1 {
    color: antiquewhite;
}