body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}

img {
    max-height: 200px;
    max-width: auto;
}