body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url(../../resources/images/night-sky2.jpg);
    background-size: cover;

}

img {
    max-height: 200px;
    max-width: auto;
    margin: 5px;
}

h1 {
    color: antiquewhite;
    
}

.batscol  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.batpics {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}